.main-header{
    background:#ffffff;
    border-bottom:1px solid #e5e7eb;
    padding-right: 13px;
}

.header-container{
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:30px;
}


.header-logo span{
    white-space:nowrap;
}

.search-box{
    flex:1;
    display:flex;
    max-width:600px;
}

.search-box input{
    flex:1;
    padding:14px 18px;
    border:2px solid #163A6B;
    border-right:none;
    border-radius:10px 0 0 10px;
    font-size:16px;
}

.search-box input:focus{
    outline:none;
}

.search-box button{
    width:60px;
    border:none;
    background:#163A6B;
    color:white;
    border-radius:0 10px 10px 0;
    cursor:pointer;
    font-size:18px;
}

.header-actions{
    display:flex;
    align-items:center;
    gap:25px;
    
}

.action-item{
    display:flex;
    align-items:center;
    gap:8px;
    color:#333;
    font-weight:500;
    position:relative;
    
}

.action-item i{
    font-size:22px;
    color:#163A6B;
}

.cart-count{
    position:absolute;
    top:-8px;
    right:-12px;
    background:#F5A623;
    color:white;
    width:20px;
    height:20px;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:12px;
    font-weight:700;
    
}