.topbar{
    background:#163A6B;
    color:#fff;
    font-size:14px;
    border-radius: 5px;
}

.topbar-container{
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:42px;
}

.topbar-left,
.topbar-right{
    display:flex;
    align-items:center;
    gap:10px;
    padding-right: 15px;
}

.topbar-left i{
    font-size:20px;
    padding-left: 10px;
}

.topbar-right a{
    color:#fff;
    transition:.3s;
}

.topbar-right a:hover{
    color:#FFD54F;
}

.topbar-right span{
    color:rgba(255,255,255,.4);
}